.header_menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.header_info {
  display: flex;
  flex-direction: column;
}
.header__infoBox {
  display: grid;
  grid-template-columns: 1.74fr 1.25fr 1.25fr;
  grid-gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
