* {
  margin: 0;
  box-sizing: border-box;
}
.app {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  /* justify-content: space-evenly; */
  padding: 20px;
}
.app__left {
  flex: 0.9;
  padding: 10px;
}
.app__right {
  display: flex;
  flex-direction: column;
}
.app__right .MuiPaper-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__graph {
  flex-grow: 1;
}
@media (max-width: 900px) {
  .app {
    grid-template-columns: 1fr;
  }
}
